<div class="heading-wrapper clearfix">
    <div class="heading-content"> Call Options</div>
  </div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- code Column -->
  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef> Code </th>
    <td mat-cell *matCellDef="let element"> {{element.code}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="bid">
    <th mat-header-cell *matHeaderCellDef> bid ($)</th>
    <td mat-cell *matCellDef="let element"> {{element.bid}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="offer">
    <th mat-header-cell *matHeaderCellDef> offer  ($)</th>
    <td mat-cell *matCellDef="let element"> {{element.offer}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="openInterest">
    <th mat-header-cell *matHeaderCellDef> open Int. </th>
    <td mat-cell *matCellDef="let element"> {{element.openInterest}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="volume">
    <th mat-header-cell *matHeaderCellDef> volume </th>
    <td mat-cell *matCellDef="let element"> {{element.volume}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="lastTrade">
    <th mat-header-cell *matHeaderCellDef> last trade ($)</th>
    <td mat-cell *matCellDef="let element"> {{element.lastTrade}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="strikePrice">
    <th mat-header-cell *matHeaderCellDef> strike price ($)</th>
    <td mat-cell *matCellDef="let element"> {{element.strikePrice}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Group header -->
    <ng-container matColumnDef="groupHeader">
      <td colspan="999" mat-cell *matCellDef="let groupBy"><strong>Expiry: {{groupBy.expiryDate|date:'EEEE, d MMM y'}}</strong></td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup">
</table>
