<div class="heading-wrapper clearfix">
  <div class="heading-content"> Barrier Instalment</div>
  <div class="filter-wrapper">
    <mat-form-field>
      <mat-select
        placeholder="Type"
        (selectionChange)="applyFilters($event.value)"
      >
        <mat-option *ngFor="let filter of filters" [value]="filter.type">{{
          filter.type
        }}</mat-option>
        <mat-option [value]="">All</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef>Code</th>
    <td mat-cell *matCellDef="let element">{{ element.code }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="issuer">
    <th mat-header-cell *matHeaderCellDef>issuer</th>
    <td mat-cell *matCellDef="let element">{{ element.issuer }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="exercisePrice">
    <th mat-header-cell *matHeaderCellDef>Exercise Price ($)</th>
    <td mat-cell *matCellDef="let element">{{ element.exercisePrice }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="multiplier">
    <th mat-header-cell *matHeaderCellDef>multiplier</th>
    <td mat-cell *matCellDef="let element">{{ element.multiplier }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="bid">
    <th mat-header-cell *matHeaderCellDef>bid ($)</th>
    <td mat-cell *matCellDef="let element">{{ element.bid }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="offer">
    <th mat-header-cell *matHeaderCellDef>offer ($)</th>
    <td mat-cell *matCellDef="let element">{{ element.offer }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="volume">
    <th mat-header-cell *matHeaderCellDef>volume</th>
    <td mat-cell *matCellDef="let element">{{ element.volume }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
